@model IEnumerable<CategoryDto>
@{
    ViewData["Title"] = "Categories";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2><i class="bi bi-bookmarks text-primary mx-3"></i>Categories</h2>
    <a href="@Url.Action("Create", "Category")" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Add Category
    </a>
</div>


@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No Categories
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">Created On</th>
                <th scope="col">Modified On</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <span class="badge rounded-pill bg-@(item.IsDeleted ? "danger" : "success") js-status">
                            @(item.IsDeleted ? "Deleted" : "Avaible")
                        </span>

                    </td>
                    <td>@item.CreatedOn</td>
                    <td class="js-modified-on">@item.ModifiedOn</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                <li><a class="dropdown-item js-toggle-status" href="#" data-id="@item.Id">Toggle</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}


@section Scripts
{
    <script>
        $(document).ready(function() {
          $(".js-toggle-status").on("click", function(e){
              var btn = $(this);
            bootbox.confirm({
                message: 'Are you sure, want to toggle status?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result)
                    {
                         $.post({
                          url: "/Category/ToggleStatus/"+ btn.data("id"),
                          success:function(category){
                              var row = btn.parents("tr");
                              var status = row.find(".js-status");
                              var newStatus = status.text().trim() === 'Deleted' ? 'Avaible': 'Deleted';
                              status.text(newStatus).toggleClass("bg-danger bg-success")
                              row.find(".js-modified-on").text(category.data.modifiedOnFormated);
                              row.addClass("animate__animated animate__fadeIn");
                              setTimeout(() => {
                                row.removeClass("animate__animated animate__fadeIn");
                              }, 1200);
                          }
                        })
                   }
                }
            });
          })
        });

    </script>

}